<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1.姓名案例_插值语法实现</title>
    <script src="../js/vue.js"></script>

</head>
<body>
    <div id="root">
        姓：<input type="text" placeholder="输入姓" v-model="lastName"> <br>
        名：<input type="text" placeholder="输入名" v-model="firstName"> <br>
        姓名：<span>{{lastName}}-{{firstName}}</span>
    </div>

    <script>
        Vue.config.productionTip = false // 阻止vue在启动时生成的生产提示

        const vm = new Vue({
            el:'#root',
            data(){
                return{
                    lastName:'张',
                    firstName:'三'
                }
            },

        })

    </script>
</body>
</html>